# Eat Safe, Love

## Notebook Set Up

In [2]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd
import re

In [3]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [4]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [5]:
# review the collections in our database
db.collection_names()

c:\Users\kylem\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: collection_names is deprecated. Use list_collection_names instead.

['establishments']

In [6]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [7]:
# Find the establishments with a hygiene score of 20
query1 = {'scores.Hygiene':  20}
hygenic = establishments.find(query1)
# Use count_documents to display the number of documents in the result
count_20 = establishments.count_documents(query1)
# Display the first document in the results using pprint
for h in range(1):
    pprint(hygenic[h])
    break

{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': '0',
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('647e6bc500727ff26cf7fdb7'),
 'geocode': {'latitude': 'toDouble', 'longitude': '$toDouble'},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [8]:
# Convert the result to a Pandas DataFrame
hygenic_rest = pd.json_normalize(hygenic)
# Display the number of rows in the DataFrame
print(hygenic_rest.shape[0])
# Display the first 10 rows of the DataFrame
hygenic_rest.head(10)

41

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,647e6bc500727ff26cf7fdb7,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,$toDouble,toDouble,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,647e6bc500727ff26cf80138,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,$toDouble,toDouble,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,647e6bc500727ff26cf80442,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,$toDouble,toDouble,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,647e6bc500727ff26cf80630,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,$toDouble,toDouble,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,647e6bc500727ff26cf8063f,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,$toDouble,toDouble,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,647e6bc600727ff26cf80fde,512854,0,12/00816/BUTH,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,...,$toDouble,toDouble,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,647e6bc600727ff26cf811ff,1537089,0,22/00224/RESTUN,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,...,$toDouble,toDouble,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,647e6bc700727ff26cf8272a,155648,0,EH/00006058,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,...,$toDouble,toDouble,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,647e6bc800727ff26cf82b6e,1012883,0,17/00110/MIXED/S,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,...,$toDouble,toDouble,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,647e6bc800727ff26cf83380,644109,0,41811,F & S,Retailers - other,4613,,81 Southernhay,Basildon,...,$toDouble,toDouble,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [14]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query2 = {"RatingValue": {"$gte":"4"}}
greater_than = establishments.find(query2)
# Use count_documents to display the number of documents in the result
gt4_count = establishments.count_documents(query2)
pprint(gt4_count)
# Display the first document in the results using pprint
for g in range(1):
    pprint(greater_than[g])
    break

31257
{'AddressLine1': 'East Cliff Pavilion',
 'AddressLine2': 'Wear Bay Road',
 'AddressLine3': 'Folkestone',
 'AddressLine4': 'Kent',
 'BusinessName': 'The Pavilion',
 'BusinessType': 'Restaurant/Cafe/Canteen',
 'BusinessTypeID': 1,
 'ChangesByServerID': 0,
 'Distance': 4591.765489457773,
 'FHRSID': 1043695,
 'LocalAuthorityBusinessID': 'PI/000073616',
 'LocalAuthorityCode': '188',
 'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
 'LocalAuthorityName': 'Folkestone and Hythe',
 'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'CT19 6BL',
 'RatingDate': '2018-04-04T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': '5',
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('647e6bc300727ff26cf7e285'),
 'geocode': {'latitude': nan, 'longitude': nan},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/1043695',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 5}}

In [15]:
# Convert the result to a Pandas DataFrame
greater_than_df = pd.json_normalize(greater_than)
# Display the number of rows in the DataFrame
print(greater_than_df.shape[0])
# Display the first 10 rows of the DataFrame
greater_than_df.head()

31257

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,647e6bc300727ff26cf7e285,1043695,0,PI/000073616,The Pavilion,Restaurant/Cafe/Canteen,1,East Cliff Pavilion,Wear Bay Road,Folkestone,...,NaN,NaN,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,647e6bc300727ff26cf7e286,647177,0,PI/000041489,Wear Bay Bowls Club,Pub/bar/nightclub,7843,Wear Bay Road,Folkestone,Kent,...,$toDouble,toDouble,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,647e6bc300727ff26cf7e287,289353,0,PI/000002468,St Marys COE (aided) Primary School,School/college/university,7845,St Marys Church Of England Primary School,Warren Road,Folkestone,...,$toDouble,toDouble,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,647e6bc300727ff26cf7e28a,289352,0,PI/000002460,The Ship,Pub/bar/nightclub,7843,23 The Stade,Folkestone,Kent,...,$toDouble,toDouble,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,647e6bc300727ff26cf7e28b,289560,0,PI/000039927,Mariner,Pub/bar/nightclub,7843,16 The Stade,Folkestone,Kent,...,$toDouble,toDouble,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [11]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 
longitude = 

query = 
sort =  

# Print the results

SyntaxError: invalid syntax (848538274.py, line 6)

In [ ]:
# Convert result to Pandas DataFrame

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [ ]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

# Print the number of documents in the result

# Print the first 10 results

In [ ]:
# Convert the result to a Pandas DataFrame

# Display the number of rows in the DataFrame

# Display the first 10 rows of the DataFrame